# Python
__pycache__
*.pyc
*.egg-info
dist
/.git
.github
build
.vscode

# Log
*.log
*.log.*
*.jsonl

# Data
!**/alpaca-data-conversation.json
data/
playground/Preference_data
playground/data/sharegpt4v_mix665k_cap23k_coco-ap9k_lcs3k_sam9k_div2k.json
playground/data/SMR.json
scripts/llama-lora-70B
# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output

checkpoints
ckpts*

.ipynb_checkpoints
*.ipynb
*.log

# DevContainer
!.devcontainer/*

# Demo
*som*.png
serve_images/
/data
highres_autogui_ckpt
logs
invalid_cache
/test_samples/*
utils/data_utils/make_androidcontrol_data/*results/
utils/eval_utils/eval_results
utils/data_utils/make_mind2web_data/*results/
utils/eval_utils/eval_aitw_with_funcgnd/eval_results/
utils/eval_utils/eval_mind2web_with_funcgnd/eval_results/
utils/eval_utils/eval_guiact_with_funcgnd/eval_results/
utils/speedeval_utils/eval_results
utils/data_utils/make_stepcopilot_cotdata/gen_rl_data/eval_results
utils/data_utils/make_androidcontrol_data/gen_rl_data/eval_results/
utils/eval_utils/eval_andcon_with_funcgnd/eval_results/
utils/speedeval_utils/eval_results
utils/vis_utils/vis_dataset_stats/**/*.html
utils/vis_utils/vis_dataset_stats/**/*.png
utils/vis_utils/vis_dataset_stats/**/*.npy
/utils/data_utils/make_stepcopilot_cotdata/gen_rl_data/eval_results
utils/data_utils/make_stepcopilot_cotdata/gen_rl_data/eval_results/
utils/data_utils/make_stepcopilot_cotdata/gen_rl_data/eval_results/*
utils/data_utils/make_stepcopilot_cotdata/gen_rl_data/save_dir/
utils/eval_utils/autoguiv2/hf_dataset_cache/
utils/eval_utils/autoguiv2/eval_results/
utils/eval_utils/autoguiv2/*_dataset_cache/
utils/data_utils/autoguiv2/calc_dataset_statistics/*_stats_output/
utils/data_utils/autoguiv2/classify_region_types/*.png
utils/eval_utils/*/eval_results/